* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
/* HEADER */
.header {
  margin-bottom: 37px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 24px 60px 58px 43px;
  align-items: center;
}
.logo {

}
.menu_1, .menu_2 {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu_2 .menu__item {
  margin-right: 30px;
}
.menu__item {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  border-bottom: 2px transparent solid;
  transition: 0.3s;
}
.menu__item:hover, .menu__item.active{
  border-bottom: 2px #E51937 solid;
  color: #e51937;
}
.item1 {
  margin-right: 63px;
}

.item2 {
  margin-right: 25px;
}

.item3 {
  margin-right: 44px;
}

.item4 {
  margin-right: 46px;
}

.tesla_title {
  text-align: center;
  background-image: url(../img/Tesla\ logo\ +\ car.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  min-height: 594px;
  margin-bottom: 26px;
}
.tesla_title h1{
  margin: 0;
  padding: 0;
  font-size: 90px;
  font-weight: 600;
  line-height: 110px;
}
.tesla_title p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.tesla_info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_block {
  display: flex;
  align-items: center;  
  margin-right: 81px;
}

.info_block_img {
  width: 46px;
  margin-right: 14px;
}
.width_768 {
  display: none;
}

.info_block_text {

}

.info_block_text1 {
  font-size: 35px;
  font-weight: 600;
  line-height: 43px;
  margin-right: 6px;
}
.info_block_text1 span {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.info_block_text2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.test_drive {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;  
  margin: 0 41px 0 24px;
}

.order {
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #E51937;
  color: #e51937;
  padding: 11px 40px;
}
.order:hover {
  text-decoration: underline;
  border-bottom: 2px #e51937 solid;
  cursor: pointer;
}
.go_bottom {
  margin-top: 37px;
  text-align: center;
  display: block;
}
/* SECTION 1 */
.main {
  height: 900px;
}
.main__inner {
  height: 100%;
  display: flex;
}

.left-section {
  width: 1000px;
  background-image: url(../img/2013-tesla-model-s-cockpit.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

.left-section h2 {
  font-size: 70px;
  font-weight: 600;
  color: #e51937;
  padding-top: 64px;
  padding-left: 80px;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 440px;
  background-color: #E51937;
  color: #fff;
  padding: 51px 72px 63px 52px;
}

.main-top {

}

.main-top h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 11px;  
}

.main-top p {
  font-size: 15px;
  font-weight: 500;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.features-box {
  display: flex;
  gap: 19px;
  align-items: center;
}
.features-box:last-child {
  margin-bottom: 0;
} 

.features__img {

}

.features__text-box {
  padding-top: 9px;
  padding-bottom: 12px;
}

.features__title {
  font-size: 35px;
  font-weight: 600;
}

.features__title span {
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
}
.features__title-someCorrect {
  font-size: 20px;
}

.features__text {
  font-size: 12px;
  font-weight: 400;
}

.main-bottom {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.information {
  display: flex;
  align-items: center;
  gap: 8px;
}

.information div {
  font-size: 13px;
  font-weight: 700;
}

.inverse__button {
  border: 2px #fff solid;
  color: #fff;
}
/* @MEDIA */
@media screen and (max-width: 1000px) {
  /* HEADER */
  .menu__item {
    display: none;
  }
  .tesla_title {
    min-height: 500px;
    margin-bottom: 37px;
  }
  /* Section 1 */
}
@media screen and (max-width: 768px) {
  /* HEADER */
  .container {
    max-width: 768px;
  }
  nav {
    margin: 24px 33px 94px 15px;
  }
  .info_block {
    margin: 0;
  }
  .width_1440 {
    display: none;
  }
  .width_768 {
    display: block;
    width: 43px;
    height: 71px;
  }
  .tesla_info {
    flex-wrap: wrap;
    gap: 55px 111px;
    margin-bottom: 63px;
  }
  .info_block .info_block_img:first-child {
    width: 65px;
    height: 48px;
  }
  .info_block_text1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 61px;
  }
  .info_block_text2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }
  .test_drive {
    margin: 0;
  }
  .test_drive img {
    width: 30px;
    height: 30px;
  }
  .test_drive div {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #e51937;
    margin: 0;
  }
  .order {
    padding: 15px 48px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    border: none;
    background-color: #e51937;
    color: #fff;
  }
  /* SECTION 1 */
  .main {
    height: 1000px;
  }
  .main__inner {
    height: 100%;
    flex-direction: column;
  }
  .left-section {
    width: 100%;
    height: 500px;
  }
  .left-section h2 {
    text-align: right;
    padding: 7px;
    margin-right: 49px;
  }
  .right-section {
    width: 100%;
    padding: 55px 48px 52px 34px;
    flex-direction: row;
    justify-content: center;
    gap: 60px 100px;
    flex-wrap: wrap;
  }
  .main-top {
    max-width: 316px;
  }
  .features-box {
    max-width: 269px;
  }
  .main-bottom {
    gap: 80px;
  }
  .inverse__button {
    border: 2px #fff solid;
  }
  
}
@media screen and (max-width: 375px) {
  .container {
    max-width: 375px;
  }
  nav {
    margin: 15px 21px 30px 0px;
  }
  .tesla_title {
    min-height: 220px;
  }
  .tesla_info {
    gap: 43px 41px;
  }
  .info_block_img {
    width: 38px;
    height: 28px;
  }
  .tesla_title h1 {
    font-size: 50px;
    line-height: 61px;
  }
  .tesla_title p {
    font-size: 10px;
    line-height: 12px;
  }
  .info_block {
    margin: 0;
  }
  .info_block_text1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
    margin: 0;
  }
  .info_block_text2 {
    font-size: 10px;
    line-height: 10px;
  }
  .test_drive {
    font-size: 13px;
    font-weight: 700;
  }
  .order {
    padding: 11px 40px;    
  }
  /* SECTION 1 */
  .main {
    height: 600px;
  }
  .main__inner {
    height: 100%;
  }
  .left-section {
    height: 300px;
    background-size: 100%;
    background-position: center bottom;
  }
  .left-section h2 {
    display: none;
  }
  .right-section {
    padding: 18px 30px 34px 29px;
  }
  .main-top {
  }
  .main-top h3 {
    font-size: 30px;
  }
  .features {
    display: none;
  }
  .main-bottom {
    display: none;
  }
}